.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.title {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 1em;
}
.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.label {
    font-size: 1.2em;
    font-weight: 600;
    margin: 0 0.5em 0.5em 0.5em;
}
.input {
    width: 90%;
    height: 1.25em;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    padding: 0.5em;
    font-size: 1em;
    font-weight: 600;
    margin: 0 0.5em 1em 0.5em;
}
.hintText {
    margin: 0 0.5em 0.5em 3em;
    font-size: 0.5em;
}
.numberInput {
    width: 10%;
}
.mainDivider {
    width: 90%;
    height: 1px;
    background-color: #ccc;
    margin: 1em 0;
}