.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
}
.slider {
  cursor: pointer;
  background-color: #f5bd06;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}
.switch {
    width: 100%;
    height: 100%;
}
.switch .on {
    background-color: #06f52e;
}
.switch .off{
    background-color: #f50606;
}

.text{
  font-size: 1em;
  font-weight: bold;
  margin: 0;
  padding: 0;
}