/* Layout */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    width: 100%;
}
.h1 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
.componants {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 1em;
}
/* Componant layouts */
.childrenList {
    margin: 0;
    padding: 0;
    width: 100%;
}
.childDetails {
    margin: 0;
    padding: 0;
    width: 100%;
}
.inbox {
    margin: 0;
    padding: 0;
    width: 100%;
}