.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  max-width: 100%;
  border: 0.25em solid #fffb00;
  border-radius: 5px;
}
.onlineIndicator {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10%;
    width: 100%;
    height: 5%;
    font-size: 1em;
}
.online,
.offline {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 3%;
}
.online {
    background-color: #00ff2a;
}
.offline {
    background-color: #ff0000;
}
.message {
    width: 100%;
    margin: 0;
}
.messageHeader {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 5%;
    font-size: 0.5em;
}
.messageSubject {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    border-right: 1px solid #4d4c4c;
    border-bottom: 1px dashed #4d4c4c;
    padding-right: 10%;
    width: 50%;
}
.messageFrom {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    border-bottom: 1px dashed #4d4c4c;
    border-right: 1px solid #4d4c4c;
    padding: 1.25% 0% 1.25% 2%;
}
.hidden {
    display: none;
}
.messageDate {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-style: italic;
    font-size: 0.75em;
    padding-left: 1%;
    padding-top: 1%;
}
.messageBody {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 95%;
    max-width: 100%;
    height: fit-content;
    font-size: 1em;
    padding: 2%;
    border-bottom: 1px dashed #4d4c4c;
    border-top: 1px dashed #4d4c4c;
    border-right: 1px solid #4d4c4c;
    border-left: 1px solid #4d4c4c;
}
.hr {
    width: 90%;
    height: 1px;
    background-color: #4d4c4c;
}
.inbox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 5%;
}